@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100vw; 
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    width: 100%;
    padding-top: 2rem; 
    box-sizing: border-box; /* insure borders included internal paddings*/
}

.register-logo {
    width: 300px;
    height: 150px;
}

.register-title {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif; 
    color: #000c21;
    margin-bottom: 2rem; 
}

.register-form {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #000c21;
}

.register-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
}

.register-label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000c21;
}

.register-input {
    box-shadow: appearance-none;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.5rem;
    color: #4a5568; /* Tailwind CSS's text-gray-700 */
    line-height: tight;
    outline: none;
    box-shadow: 0 0 0 2px #edf2f7; /* Tailwind CSS's focus:shadow-outline */
}

.register-button {
    background-color: #3b82f6; /* Tailwind CSS's bg-blue-500 */
    &:hover {
      background-color: #2563eb; /* Tailwind CSS's bg-blue-700 */
    }
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    outline: none;
    box-shadow: 0 0 0 2px #edf2f7; /* Tailwind CSS's focus:shadow-outline */
    align-items: center;
}
.back-to-login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #3b82f6; 
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    outline: none;
    box-shadow: 0 0 0 2px #edf2f7; /* Tailwind CSS's focus:shadow-outline */
    cursor: pointer; /*add hand icon while cursor*/
}
